<div class="container px-4 mx-auto my-8">
  <div class="max-w-3xl mx-auto">
    <div class="flex items-center justify-between mb-4">
      <h1 class="h3"><%= link_to "Tickets", tickets_path %> > Ticket #<%= @ticket.id %></h1>
      <%= link_to t("edit"), edit_ticket_path(@ticket), class: "btn btn-link" %>
    </div>

    <div class="mb-4">
      <h4><%= @ticket.title %></h4>
    </div>


   <div class="p-8 bg-white rounded shadow">

      <div class="mb-4">
        <%= @ticket.body %>
      </div>
      <% Response.where(ticket_id:1).each do |response| %>
       <% if current_user.id == response.user_id %>
         <% position = '' %>
       <% else %>
         <% position = 'float-right' %>
       <% end %>
       <div onclick="test(this)" class="mb-4 <%=position %>">
       <%= response.title %>
          <%= link_to "View Details", response, class: "btn btn-link no-underline" %>
        </div>
      <% end %>


    </div>
  </div>
</div>


<script>

  function test(test){
      test.style.display = "none";
  }

</script>