<div class="container px-4 mx-auto my-8">
  <div class="max-w-3xl mx-auto">
    <div class="flex items-center justify-between mb-4">
      <h1 class="h3"><%= link_to "Responses", responses_path %> > Response #<%= @response.id %></h1>
      <%= link_to t("edit"), edit_response_path(@response), class: "btn btn-link" %>
    </div>

    <div class="p-8 bg-white rounded shadow">
      <div class="mb-4">
        <h5>Title</h5>
        <%= @response.title %>
      </div>
      <div class="mb-4">
        <h5>Body</h5>
        <%= @response.body %>
      </div>
      <div class="mb-4">
        <h5>Image</h5>
        <%= @response.image %>
      </div>
      <div class="mb-4">
        <h5>User</h5>
        <%= @response.user_id %>
      </div>
      <div class="mb-4">
        <h5>Ticket Owner</h5>
        <%= @response.ticket_owner %>
      </div>
      <div class="mb-4">
        <h5>Ticket Id</h5>
        <%= @response.ticket_id %>
      </div>

    </div>
  </div>
</div>
