<div class="container mx-auto px-4 sm:px-6 lg:px-12">
  <div class="max-w-3xl mx-auto">
    <div class="flex items-center justify-between mb-4">
      <h1 class="h3"><%= link_to "Posts", posts_path %> > <%= @post.title %></h1>
      <small><%= @post.category.title %></small>
      <% if user_signed_in? && current_user.admin? %>
      <%= link_to t("edit"), edit_post_path(@post), class: "btn btn-link" %>
        <% end %>
    </div>

    <div class="p-8 bg-white rounded shadow">
      <div style=' height: 500px;background-size: cover; background-image: url("<%= url_for(@post.image) %>;")' class="container mx-auto px-4 sm:px-6 lg:px-8"></div>
            <div class="mb-4">
        <%= @post.body %>
      </div>

    </div>
  </div>
</div>


